/* style.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	background-color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
	color: #fff; /* White text */
}

#menu a {
    margin-right: 20px;
    text-decoration: none;
	color: #fff; /* White text */
}

#menu a:last-child {
    margin-right: 0;
}

#tabs {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #444;
}

.tab {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
	color: #fff; /* White text */
}
.active-tab {
            color: blue; /* Change to your desired active tab color */
}
#development {
    display: flex;
	padding: 10px;
	background-color: #BC393B;
    justify-content: center;
    text-decoration: none;
	color: #fff; /* White text */
}
#modpage {
    display: flex;
	padding: 10px;
	background-color: #179832;
    justify-content: center;
    text-decoration: none;
	color: #fff; /* White text */
}

#extrainfo {
    display: flex;
	padding: 10px;
	background-color: cornflowerblue;
    justify-content: center;
    text-decoration: none;
	color: #fff; /* White text */
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align cards to the left */
    margin-left: 20px; /* Add some margin to the left side of the content container */
	margin-top: 20px; /* Add margin to the top of the content container */
}

.card {
    width: 300px; /* Adjusted width to compensate for increased gap */
    background-color: #444;
    color: #fff; /* White text */
    padding: 20px;
    margin-right: 20px; /* Add more space between cards */
    margin-bottom: 20px; /* Add space between rows */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.card:last-child {
    margin-right: 0; /* Remove right margin from the last card in a row */
}

/* Remove padding from the first card */
.card:first-child {
    margin-left: 0;
}
.disclaimer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #000;
            color: #fff;
            padding: 10px;
            text-align: center;
            z-index: 999; /* Ensure the disclaimer appears above other content */
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    #menu a {
        margin-bottom: 10px;
    }
}
